---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
  <main class="p-8 md:p-36">
    <h1 class="text-center text-5xl leading-normal font-medium">
      About Buy One Gram
    </h1>
    <div class="flex flex-col gap-4 mt-8">
      <p class="text-justify">
        Buy One Gram is an agriculture-focused startup based in Jaipur, India.
        Our mission is toize the agricultural industry by promoting sustainable
        farming practices and facilitating direct transactions between farmers
        and buyers.
      </p>
      <p class="text-justify">
        Our platform provides a comprehensive solution for farmers and
        agro-traders to connect and conduct business. Our services include a
        marketplace for buying and selling agricultural commodities, real-time
        price information, logistics support, and post-harvesting services. We
        also promote sustainable and eco-friendly farming practices and aim to
        increase the profitability of farmers by reducing the number of
        intermediaries in the supply chain.
      </p>
      <p class="text-justify">
        At Buy One Gram, we believe in empowering farmers and promoting gender
        inclusivity in the agricultural sector. We actively involve and empower
        women farmers in the agricultural sector and provide equal opportunities
        for women to participate in farming and related activities. We also
        provide training and education programs to women farmers, to help them
        improve their farming techniques and increase their yields.
      </p>
      <p class="text-justify">
        Our platform is designed to simplify the process of buying and selling
        agricultural commodities, while also promoting sustainable farming
        practices and improving the livelihoods of farmers. By providing a
        comprehensive platform that includes a marketplace, post-harvesting
        services, and real-time price information, we aim to improve the
        efficiency and transparency of the agricultural sector and increase the
        profitability of farmers.
      </p>
    </div>
  </main>
</MainLayout>
