---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
  <div class="p-20">
    <p>
      Privacy Policy for Buy One Gram Pvt. Ltd. At www.buyonegram.com,
      accessible from https://buyonegram.com/, we prioritize the privacy of our
      visitors. This Privacy Policy explains the types of information we collect
      and how we use it. It applies only to our online activities and not to
      offline or other channels. By using our website, you consent to our
      Privacy Policy.
    </p>

    <h3>Information Collection:</h3>
    <p class="list-item ml-[2em]">
      We may ask you to provide personal information, and the purpose will be
      clear at the point of collection. This may include additional information
      if you contact us directly or register for an account.
    </p>

    <h3>Use of Information:</h3>
    <p class="list-item ml-[2em]">
      We use the collected information to provide, operate, and improve our
      website, analyze user behavior, develop new products and features,
      communicate with you, and for marketing purposes.
    </p>

    <h3>Log Files:</h3>
    <p class="list-item ml-[2em]">
      We follow standard procedures using log files to gather information such
      as IP addresses, browser types, ISP, date/time stamps, and page visits.
      This helps us analyze trends, administer the site, and gather demographic
      information.
    </p>

    <h3>Cookies and Web Beacons:</h3>
    <p class="list-item ml-[2em]">
      Like other websites, we use cookies to store visitor preferences and
      customize the content based on browser type and other information.
    </p>

    <h3>Advertising Partners:</h3>
    <p class="list-item ml-[2em]">
      Third-party advertising partners have their own privacy policies. We
      encourage you to consult their policies for more detailed information.
    </p>

    <h3>CCPA Privacy Rights and GDPR Data Protection Rights:</h3>
    <p class="list-item ml-[2em]">
      Under CCPA and GDPR, you have rights regarding your personal data, such as
      access, rectification, erasure, restriction of processing, objection to
      processing, and data portability. Contact us to exercise these rights.
    </p>

    <h3>Children's Information:</h3>
    <p class="list-item ml-[2em]">
      We prioritize the protection of children's information. If we unknowingly
      collect Personal Identifiable Information from children under 13, please
      contact us, and we will promptly remove it.
    </p>

    <h3>Changes to This Privacy Policy:</h3>
    <p class="list-item ml-[2em]">
      We may update our Privacy Policy, and the changes will be effective
      immediately. Please review this page periodically. Contact Us: If you have
      any questions or suggestions regarding our Privacy Policy, please contact
      us.
    </p>
  </div>
</MainLayout>
